@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
body {
  --primary-blue: #172752;
  --primary-selector: #edf4ff;
  --secondary-teal: #2d8095;
  --bg-base: #fafbff;
  --white: #ffffff;
  --neutral-gray-1: #e5e7eb;
  --disabled-gray: #888b8d;
  --body: #51555d;
  --dark-gray-title: #292d34;
  --dark-blue-headers: #0a2540;
  --gray-placeholders: #767676;
  --red-error: #d32f2f;

  @nested-import "./partials/_app_modal.css";
  @nested-import "./partials/_app_button.css";
  @nested-import "./partials/_app_text_area.css";
  @nested-import "./partials/_app_select_dropdown.css";
  @nested-import "./partials/_app_input.css";
  @nested-import "./partials/_app_select_date.css";
}
